@model PaginatedListDto<BrandListItemGetDto>
@{
    ViewData["Title"] = "Index";
    int count = Model.Items.Count * (Model.PageIndex - 1);
}

<div class="col-lg-7 col-md-8 mx-auto stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">
                <a asp-action="create" asp-controller="brands" class="btn btn-success">Create</a>
                <a asp-action="getalldeleted" asp-controller="brands" class="btn btn-danger">See all deleted brands</a>
            </p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Name</th>
                            @*<th>Status</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            count++;
                            <tr class="text-light">
                                <td>@count</td>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td><a asp-action="edit" asp-route-id="@item.Id" class="badge badge-danger">Edit</a> </td>
                                <td> <a asp-action="delete" asp-route-id="@item.Id" data-name="brand" class="badge badge-danger sweet-delete">Delete</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center pt-3">
                <ul class="pagination mx-auto">
                    <li class="page-item">
                        <a class="page-link" asp-action="index" asp-controller="brands" asp-route-page="1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-action="index" asp-controller="brands"
                           asp-route-page="@(Model.PageIndex==1?Model.PageIndex:Model.PageIndex-1)" aria-label="Next">
                            <i class="fa-solid fa-angle-left"></i>
                        </a>
                    </li>
                    @for (int i = 1; i <= Model.TotalPage; i++)
                    {
                        <li class="page-item"><a class="page-link" asp-action="index" asp-controller="brands" asp-route-page="@i">@i</a></li>

                    }
                    <li class="page-item">
                        <a class="page-link" asp-action="index" asp-controller="brands" asp-route-page="@(Model.PageIndex==Model.TotalPage?Model.TotalPage:Model.PageIndex+1)" aria-label="Next">
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-action="index" asp-controller="brands" asp-route-page="@Model.TotalPage" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>