@model BrandListGetDto<BrandItemGetDto>
@{
    ViewData["Title"] = "Index";
    int count = Model.Items.Count*(Model.PageIndex-1);
}

<div class="col-lg-6 mx-auto stretch-card ">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hoverable Table</h4>
            <p class="card-description">
            </p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Name</th>
                            @*<th>Status</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            count++;
                            <tr class="text-light">
                                <td>@count</td>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td><a asp-action="edit" asp-route-id="@item.Id" class="badge badge-danger" >Edit</a> </td>
                                <td> <a asp-action="edit" asp-route-id="@item.Id" class="badge badge-danger">Delete</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center pt-3">
                 <ul class="pagination mx-auto">
                    <li class="page-item">
                        <a class="page-link" asp-action="index" asp-controller="brand" asp-route-page="1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (int i = 1; i <= Model.TotalPage; i++)
                    {
                        <li class="page-item"><a class="page-link" asp-action="index" asp-controller="brand" asp-route-page="@i">@i</a></li>
                    }
                    <li class="page-item">
                        <a class="page-link" asp-action="index" asp-controller="brand" asp-route-page="@Model.TotalPage" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
             </div>
        </div>
    </div>
</div>